@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: "#ffffff";
    --background-start-rgb: 214, 219, 220;
    --background-end: "#ffffff";
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 255, 255, 255;
        --background-end-rgb: 255, 255, 255;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--foreground);
    overflow-x: hidden;
    max-width: 100vw;
    color: rgb(var(--foreground));
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
