.container {
    justify-content: space-between;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: var(--foreground);
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    padding: 5px 10px;
    border: none;
    background-color: rgb(37 99 235);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
