.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-size: 20px;
}
